.userToogleWrper {
    background: rgba(0, 0, 0, 0.393);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}



.userToogleWrper>div {
    width: 420px;
    padding: 20px;
    color: black;
}




@media (max-width:1024px) {
    .userToogleWrper>div {
        width: 380px;
    }
}




@media (max-width:768px) {
    .userToogleWrper>div {
        width: 300px;
        padding: 15px;
    }
}