.containerWrper {
    max-width: 1400px;
    width: 90%;
    margin: auto;
}

@media (max-width:1024px) {
    .containerWrper {
        width: 94%;
    }
}

@media (max-width:768px) {
    .containerWrper {
        width: 95%;
    }
}